<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<configSections>
		<sectionGroup name="Sprints">
		</sectionGroup>	
		<sectionGroup name="TestRuns">
			<sectionGroup name="TestProject_Roads_Maritime_Services_RMS_Merged"></sectionGroup>	
			<sectionGroup name="TestProject_Programme_for_International_Student_Assessment_PISA_Merged"></sectionGroup>	
			<sectionGroup name="TestProject_Janison_Assessment_Merged"></sectionGroup>	
		</sectionGroup>	
    </configSections>
	
	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>

	<appSettings>
		<add key="TestRailUrl" value="https://janison.testrail.com" />
		<add key="TestRailUser" value="xxx" />
		<add key="TestRailPassword" value="xxx" />
		<add key="CoPilotDatabaseHostname" value="localhost" />
		<add key="CoPilotDatabaseUsername" value="xxx" />
		<add key="CoPilotDatabasePassword" value="xxx" />
	</appSettings>

	<Sprints>
		<add Name="FY22Q3S1" Start="10/01/2022" End="21/01/2022"/>
		<add Name="FY22Q3S2" Start="22/01/2022" End="04/02/2022"/>
		<add Name="FY22Q3S3" Start="05/02/2022" End="18/02/2022"/>
		<add Name="FY22Q3S4" Start="19/02/2022" End="04/03/2022"/>
		<add Name="FY22Q3S5" Start="05/03/2022" End="18/03/2022"/>
		<add Name="FY22Q3S6" Start="19/03/2022" End="01/04/2022"/>
		<add Name="FY22Q4S1" Start="02/04/2022" End="15/04/2022"/>
		<add Name="FY22Q4S2" Start="16/04/2022" End="29/04/2022"/>
		<add Name="FY22Q4S3" Start="30/04/2022" End="13/05/2022"/>
		<add Name="FY22Q4S4" Start="14/05/2022" End="27/05/2022"/>
		<add Name="FY22Q4S5" Start="28/05/2022" End="10/06/2022"/>
		<add Name="FY22Q4S6" Start="11/06/2022" End="24/06/2022"/>
		<add Name="FY22Q4S7" Start="25/06/2022" End="08/07/2022"/>
		<add Name="FY23Q1S1" Start="09/07/2022" End="22/07/2022"/>
		<add Name="FY23Q1S2" Start="23/07/2022" End="05/08/2022"/>
		<add Name="FY23Q1S3" Start="06/08/2022" End="19/08/2022"/>
		<add Name="FY23Q1S4" Start="20/08/2022" End="02/09/2022"/>
		<add Name="FY23Q1S5" Start="03/09/2022" End="16/09/2022"/>
		<add Name="FY23Q1S6" Start="17/09/2022" End="30/09/2022"/>
		<add Name="FY23Q2S1" Start="01/10/2022" End="14/10/2022"/>
		<add Name="FY23Q2S2" Start="15/10/2022" End="28/10/2022"/>
		<add Name="FY23Q2S3" Start="29/10/2022" End="11/11/2022"/>
		<add Name="FY23Q2S4" Start="12/11/2022" End="25/11/2022"/>
		<add Name="FY23Q2S5" Start="26/11/2022" End="09/12/2022"/>
	</Sprints>
	
	<TestRuns>
	
		<TestProject_Roads_Maritime_Services_RMS_Merged>
			<add Id="47"/>
    
			<TestPlan_Smoke>
				<add NameSuffix="Smoke"/>

				<TestSuite_Maritime_SIT_Functional_Delivery_Regression>
					<add Id="376"/>
					<TestConfiguration>
						<add Id="219"/>			<!-- Chrome v101 -->
						<add Id="69"/>			<!-- PC -->
						<add Id="171"/>			<!-- Windows 7, 8.1, 10 -->
						<add Id="66"/>			<!-- SIT -->
					</TestConfiguration>

					<TestRun_Chrome101_PC_Win7_Win81_Win10_SIT>
						<TestCase>
							<add Id="85051"/>	<!-- GBL with existing exam class -->
							<add Id="85052"/>	<!-- PWC -->
							<add Id="87062"/>	<!-- GBL with paper based test -->
						</TestCase>
						<TestConfiguration>
							<add Id="219"/>		<!-- Chrome v101 -->
							<add Id="69"/>		<!-- PC -->
							<add Id="171"/>		<!-- Windows 7, 8.1, 10 -->
							<add Id="66"/>		<!-- SIT -->
						</TestConfiguration>
						<ExecutionGroup>
							<add Id="398" SchemaName="rms_maritime_se_project"/>
							<add Id="399" SchemaName="rms_maritime_se_project"/>
							<add Id="400" SchemaName="rms_maritime_se_project"/>
						</ExecutionGroup>
					</TestRun_Chrome101_PC_Win7_Win81_Win10_SIT>
					
				</TestSuite_Maritime_SIT_Functional_Delivery_Regression>

				<TestSuite_Maritime_SIT_Functional_Authoring_Regression>
					<add Id="379"/>
					<TestConfiguration>
						<add Id="219"/>			<!-- Chrome v101 -->
						<add Id="69"/>			<!-- PC -->
						<add Id="171"/>			<!-- Windows 7, 8.1, 10 -->
						<add Id="66"/>			<!-- SIT -->
					</TestConfiguration>

					<TestRun_Chrome101_PC_Win7_Win81_Win10_SIT>
						<TestCase>
							<add Id="86607"/>
						</TestCase>
						<TestConfiguration>
							<add Id="219"/>		<!-- Chrome v101 -->
							<add Id="69"/>		<!-- PC -->
							<add Id="171"/>		<!-- Windows 7, 8.1, 10 -->
							<add Id="66"/>		<!-- SIT -->
						</TestConfiguration>
						<ExecutionGroup>
							<add Id="397" SchemaName="rms_maritime_se_project"/>
						</ExecutionGroup>
					</TestRun_Chrome101_PC_Win7_Win81_Win10_SIT>
					
				</TestSuite_Maritime_SIT_Functional_Authoring_Regression>

				<TestSuite_Roads_SIT_Functional_Marking_Regression>
					<add Id="98"/>
					<TestConfiguration>
						<add Id="219"/>			<!-- Chrome v101 -->
						<add Id="69"/>			<!-- PC -->
						<add Id="171"/>			<!-- Windows 7, 8.1, 10 -->
						<add Id="66"/>			<!-- SIT -->
					</TestConfiguration>

					<TestRun_Chrome101_PC_Win7_Win81_Win10_SIT>
						<TestCase>
							<add Id="68874"/>   <!-- HPT -->
							<add Id="69557"/>   <!-- DQT -->
							<add Id="85050"/>   <!-- DKT -->
						</TestCase>
						<TestConfiguration>
							<add Id="219"/>		<!-- Chrome v101 -->
							<add Id="69"/>		<!-- PC -->
							<add Id="171"/>		<!-- Windows 7, 8.1, 10 -->
							<add Id="66"/>		<!-- SIT -->
						</TestConfiguration>
						<ExecutionGroup>
							<add Id="396" SchemaName="rms_drop_4_se_project"/>
							<add Id="397" SchemaName="rms_drop_4_se_project"/>
							<add Id="398" SchemaName="rms_drop_4_se_project"/>
						</ExecutionGroup>
					</TestRun_Chrome101_PC_Win7_Win81_Win10_SIT>
					
				</TestSuite_Roads_SIT_Functional_Marking_Regression>
			</TestPlan_Smoke>
		
			<TestPlan_Regression_0.2022.08.4195>
				<add NameSuffix="Regression 0.2022.08.4195"/>

				<TestSuite_Maritime_SIT_Functional_Delivery_Regression>
					<add Id="376"/>
					<TestConfiguration>
						<add Id="219"/>			<!-- Chrome v101 -->
						<add Id="69"/>			<!-- PC -->
						<add Id="171"/>			<!-- Windows 7, 8.1, 10 -->
						<add Id="66"/>			<!-- SIT -->
					</TestConfiguration>

					<TestRun_Chrome101_PC_Win7_Win81_Win10_SIT>
						<TestCase>
							<add Id="86731"/>	<!-- GBL Cancel & Terminate Test Attempt -->
							<add Id="86911"/>	<!-- New Exam Class -->
							<add Id="86769"/>	<!-- VARIANT on 85051 Offline test with TP2 -->
							<add Id="86770"/>	<!-- VARIANT on 85052 Offline test with TP2 -->
							<add Id="86913"/>	<!-- VARIANT on 85051 Quick Enrol via Delivery Dashboard -->
							<add Id="87855"/>	<!-- GBL | Paper Based Test | Results Synchronisation Disabled -->
						</TestCase>
						<TestConfiguration>
							<add Id="219"/>		<!-- Chrome v101 -->
							<add Id="69"/>		<!-- PC -->
							<add Id="171"/>		<!-- Windows 7, 8.1, 10 -->
							<add Id="66"/>		<!-- SIT -->
						</TestConfiguration>
						<ExecutionGroup>
							<add Id="319" SchemaName="rms_maritime_se_project"/>
							<add Id="393" SchemaName="rms_maritime_se_project"/>
							<add Id="370" SchemaName="rms_maritime_se_project"/>
							<add Id="371" SchemaName="rms_maritime_se_project"/>
							<add Id="390" SchemaName="rms_maritime_se_project"/>
							<add Id="317" SchemaName="rms_maritime_se_project"/>
							
						</ExecutionGroup>
					</TestRun_Chrome101_PC_Win7_Win81_Win10_SIT>
					
				</TestSuite_Maritime_SIT_Functional_Delivery_Regression>				

				<TestSuite_Roads_SIT_Functional_Marking_Regression>
					<add Id="98"/>
					<TestConfiguration>
						<add Id="219"/>			<!-- Chrome v101 -->
						<add Id="69"/>			<!-- PC -->
						<add Id="171"/>			<!-- Windows 7, 8.1, 10 -->
						<add Id="66"/>			<!-- SIT -->
					</TestConfiguration>

					<TestRun_Chrome101_PC_Win7_Win81_Win10_SIT>
						<TestCase>
							<add Id="69560"/>     <!-- Variant on 68874 Offline test with TP2 -->
							<add Id="69561"/>     <!-- Variant on 69557 Offline test with TP2 -->
							<add Id="69714"/>     <!-- Variant on 85050 Offline test with TP2 single computer -->
							<add Id="96559"/>     <!-- Variant on 85050 Offline test with TP2 multiple computer-->
						</TestCase>
						<TestConfiguration>
							<add Id="219"/>		<!-- Chrome v101 -->
							<add Id="69"/>		<!-- PC -->
							<add Id="171"/>		<!-- Windows 7, 8.1, 10 -->
							<add Id="66"/>		<!-- SIT -->
						</TestConfiguration>
						<ExecutionGroup>
							<add Id="371" SchemaName="rms_drop_4_se_project"/>
							<add Id="372" SchemaName="rms_drop_4_se_project"/>
							<add Id="378" SchemaName="rms_drop_4_se_project"/>
							<add Id="370" SchemaName="rms_drop_4_se_project"/>
						</ExecutionGroup>
					</TestRun_Chrome101_PC_Win7_Win81_Win10_SIT>
					
				</TestSuite_Roads_SIT_Functional_Marking_Regression>
				
				<TestSuite_Maritime_SIT_Functional_Integration_Regression>
					<add Id="399"/>
					<TestConfiguration>
						<add Id="219"/>			<!-- Chrome v101 -->
						<add Id="69"/>			<!-- PC -->
						<add Id="171"/>			<!-- Windows 7, 8.1, 10 -->
						<add Id="66"/>			<!-- SIT -->
					</TestConfiguration>

					<TestRun_Chrome101_PC_Win7_Win81_Win10_SIT>
						<TestCase>
							<add Id="87855"/>     <!-- Variant on 68874 Offline test with TP2 -->
							
						</TestCase>
						<TestConfiguration>
							<add Id="219"/>		<!-- Chrome v101 -->
							<add Id="69"/>		<!-- PC -->
							<add Id="171"/>		<!-- Windows 7, 8.1, 10 -->
							<add Id="66"/>		<!-- SIT -->
						</TestConfiguration>
						<ExecutionGroup>
							<add Id="317" SchemaName="rms_maritime_se_project"/>
							
						</ExecutionGroup>
					</TestRun_Chrome101_PC_Win7_Win81_Win10_SIT>
					
				</TestSuite_Maritime_SIT_Functional_Integration_Regression>
				
			</TestPlan_Regression_0.2022.08.4195>
		
	    </TestProject_Roads_Maritime_Services_RMS_Merged>
		
		<TestProject_Programme_for_International_Student_Assessment_PISA_Merged>
			<add Id="55"/>

			<TestPlan_Smoke>
				<add NameSuffix="Smoke"/>

				<TestSuite_SIT_Functional_Delivery_Regression>
					<add Id="294"/>
					<TestConfiguration>
						<add Id="217"/>			<!-- Chrome v101 -->
						<add Id="214"/>			<!-- SIT -->
						<add Id="143"/>			<!-- Windows 10 -->
					</TestConfiguration>

					<TestRun_Chrome101_SIT_Win10>
						<TestCase>
							<add Id="71500"/>
							<add Id="78126"/>
							<add Id="71499"/>
						</TestCase>
						<TestConfiguration>
							<add Id="217"/>		<!-- Chrome v101 -->
							<add Id="214"/>		<!-- SIT -->
							<add Id="143"/>		<!-- Windows 10 -->
						</TestConfiguration>
						<ExecutionGroup>
							<add Id="357" SchemaName="pisa_release_2020_3_se_project"/>
							<add Id="358" SchemaName="pisa_release_2020_3_se_project"/>
							<add Id="359" SchemaName="pisa_release_2020_3_se_project"/>
						</ExecutionGroup>
					</TestRun_Chrome101_SIT_Win10>
					
				</TestSuite_SIT_Functional_Delivery_Regression>

				<TestSuite_SIT_Functional_Marking_Regression>
					<add Id="295"/>
					<TestConfiguration>
						<add Id="217"/>			<!-- Chrome v101 -->
						<add Id="214"/>			<!-- SIT -->
						<add Id="143"/>			<!-- Windows 10 -->
					</TestConfiguration>

					<TestRun_Chrome101_SIT_Win10>
						<TestCase>
							<add Id="72082"/>
							<add Id="72083"/>
						</TestCase>
						<TestConfiguration>
							<add Id="217"/>		<!-- Chrome v101 -->
							<add Id="214"/>		<!-- SIT -->
							<add Id="143"/>		<!-- Windows 10 -->
						</TestConfiguration>
						<ExecutionGroup>
							<add Id="360" SchemaName="pisa_release_2020_3_se_project"/>
							<add Id="361" SchemaName="pisa_release_2020_3_se_project"/>
						</ExecutionGroup>
					</TestRun_Chrome101_SIT_Win10>
					
				</TestSuite_SIT_Functional_Marking_Regression>

			</TestPlan_Smoke>
			
			<TestPlan_Regression_0.2022.08.4195>
				<add NameSuffix="Regression 0.2022.08.4195"/>

				<TestSuite_SIT_Functional_Delivery_Regression>
					<add Id="294"/>
					<TestConfiguration>
						<add Id="217"/>			<!-- Chrome v101 -->
						<add Id="214"/>			<!-- SIT -->
						<add Id="143"/>			<!-- Windows 10 -->
					</TestConfiguration>

					<TestRun_Chrome101_SIT_Win10>
						<TestCase>
							<add Id="71506"/>
							<add Id="71918"/>
							<add Id="77949"/>
							<add Id="78127"/>							
							<add Id="90823"/>
							<add Id="90841"/>
							<add Id="90852"/>
							<add Id="90853"/>
							<add Id="90873"/>
							<add Id="90892"/>
						</TestCase>
						<TestConfiguration>
							<add Id="217"/>		<!-- Chrome v101 -->
							<add Id="214"/>		<!-- SIT -->
							<add Id="143"/>		<!-- Windows 10 -->
						</TestConfiguration>
						<ExecutionGroup>
							<add Id="318" SchemaName="pisa_release_2020_3_se_project"/>
							<add Id="343" SchemaName="pisa_release_2020_3_se_project"/>
							<add Id="319" SchemaName="pisa_release_2020_3_se_project"/>
							<add Id="320" SchemaName="pisa_release_2020_3_se_project"/>
							<add Id="351" SchemaName="pisa_release_2020_3_se_project"/>
							<add Id="355" SchemaName="pisa_release_2020_3_se_project"/>
							<add Id="352" SchemaName="pisa_release_2020_3_se_project"/>
							<add Id="353" SchemaName="pisa_release_2020_3_se_project"/>
							<add Id="356" SchemaName="pisa_release_2020_3_se_project"/>
							<add Id="354" SchemaName="pisa_release_2020_3_se_project"/>
						</ExecutionGroup>
					</TestRun_Chrome101_SIT_Win10>
					
				</TestSuite_SIT_Functional_Delivery_Regression>				

			</TestPlan_Regression_0.2022.08.4195>			
			
		</TestProject_Programme_for_International_Student_Assessment_PISA_Merged>
		
		<TestProject_Janison_Assessment_Merged>
			<add Id="64"/>
		 
			<TestPlan_Data_Creation>
				<add NameSuffix="Data Creation"/>

				<TestSuite_ST_Functional_Data_Creation>
					<add Id="594"/>
					<TestConfiguration>
						<add Id="216"/>			<!-- Chrome 101 -->
						<add Id="174"/>			<!-- PC -->
						<add Id="147"/>			<!-- Windows 10 -->
					</TestConfiguration>

					<TestRun_Chrome101_PC_Win10>
						<TestCase>
							<add Id="102583"/>  
							<add Id="102584"/>  
							<add Id="102585"/>  
							<add Id="102586"/>  
							<add Id="102587"/>  
							<add Id="102588"/>  
							<add Id="102589"/>  
							<add Id="102590"/>  
							<add Id="102591"/>  
							<add Id="102592"/>  
							<add Id="102593"/>  
						</TestCase>
						<TestConfiguration>
							<add Id="216"/>			<!-- Chrome 101 -->
							<add Id="174"/>			<!-- PC -->
							<add Id="147"/>			<!-- Windows 10 -->
						</TestConfiguration>
						<ExecutionGroup>
							<add Id="343" SchemaName="assessment_release_2021_3_se_project"/>
						</ExecutionGroup>
					</TestRun_Chrome101_PC_Win10>
					
				</TestSuite_ST_Functional_Data_Creation>

			</TestPlan_Data_Creation>

			<TestPlan_Smoke>
				<add NameSuffix="Smoke"/>

				<TestSuite_SIT_Functional_Delivery_Regression>
					<add Id="423"/>
					<TestConfiguration>
						<add Id="198"/>			<!-- Replay -->
						<add Id="216"/>			<!-- Chrome 101 -->
						<add Id="174"/>			<!-- PC -->
						<add Id="205"/>			<!-- System Integration Testing -->
						<add Id="147"/>			<!-- Windows 10 -->
					</TestConfiguration>

					<TestRun_Chrome101_SIT_Win10>
						<TestCase>
							<add Id="91991"/>  
							<add Id="92222"/> 							
						</TestCase>
						<TestConfiguration>
							<add Id="198"/>			<!-- Replay -->
							<add Id="216"/>			<!-- Chrome 101 -->
							<add Id="174"/>			<!-- PC -->
							<add Id="205"/>			<!-- System Integration Testing -->
							<add Id="147"/>			<!-- Windows 10 -->
						</TestConfiguration>
						<ExecutionGroup>
							<add Id="326" SchemaName="assessment_release_2021_3_se_project"/>
							<add Id="344" SchemaName="assessment_release_2021_3_se_project"/>
							
						</ExecutionGroup>
					</TestRun_Chrome101_SIT_Win10>
					
				</TestSuite_SIT_Functional_Delivery_Regression>

				<TestSuite_SIT_Functional_Marking_Regression>
					<add Id="424"/>
					<TestConfiguration>
						<add Id="198"/>			<!-- Replay -->
						<add Id="216"/>			<!-- Chrome 101 -->
						<add Id="174"/>			<!-- PC -->
						<add Id="205"/>			<!-- System Integration Testing -->
						<add Id="147"/>			<!-- Windows 10 -->
					</TestConfiguration>

					<TestRun_Chrome101_SIT_Win10>
						<TestCase>
							<add Id="91537"/>
							<add Id="91540"/>
						</TestCase>
						<TestConfiguration>
							<add Id="198"/>			<!-- Replay -->
							<add Id="216"/>			<!-- Chrome 101 -->
							<add Id="174"/>			<!-- PC -->
							<add Id="205"/>			<!-- System Integration Testing -->
							<add Id="147"/>			<!-- Windows 10 -->
						</TestConfiguration>
						<ExecutionGroup>
							<add Id="331" SchemaName="assessment_release_2021_3_se_project"/>
							<add Id="315" SchemaName="assessment_release_2021_3_se_project"/>
						</ExecutionGroup>
					</TestRun_Chrome101_SIT_Win10>
					
				</TestSuite_SIT_Functional_Marking_Regression>

			</TestPlan_Smoke>
			
			<TestPlan_Regression_0.2022.08.4195>
				<add NameSuffix="Regression 0.2022.08.4195"/>

				<TestSuite_ST_Functional_People_Regression>
					<add Id="519"/>
					<TestConfiguration>
						<add Id="216"/>			<!-- Chrome 101 -->
						<add Id="174"/>			<!-- PC -->
						<add Id="147"/>			<!-- Windows 10 -->
					</TestConfiguration>

					<TestRun_Chrome101_SIT_Win10>
						<TestCase>
							<add Id="97444"/>  
							<add Id="102594"/> 
						</TestCase>
						<TestConfiguration>
							<add Id="216"/>			<!-- Chrome 101 -->
							<add Id="174"/>			<!-- PC -->
							<add Id="147"/>			<!-- Windows 10 -->
						</TestConfiguration>
						<ExecutionGroup>
							<add Id="348" SchemaName="assessment_release_2021_3_se_project"/>
						</ExecutionGroup>
					</TestRun_Chrome101_SIT_Win10>
					
				</TestSuite_ST_Functional_People_Regression>	

				<TestSuite_ST_Functional_Authoring_Regression>
					<add Id="572"/>
					<TestConfiguration>
						<add Id="216"/>			<!-- Chrome 101 -->
						<add Id="174"/>			<!-- PC -->
						<add Id="147"/>			<!-- Windows 10 -->
					</TestConfiguration>

					<TestRun_Chrome101_SIT_Win10>
						<TestCase>
							<add Id="101709"/>  
							<add Id="101710"/> 
							<add Id="101708"/> 
							<add Id="101711"/> 
							<add Id="101712"/> 
							<add Id="101713"/> 
							<add Id="101714"/> 
							<add Id="101715"/> 
							<add Id="101716"/> 
							<add Id="101717"/> 
							<add Id="101718"/> 
							<add Id="101719"/> 
						</TestCase>
						<TestConfiguration>
							<add Id="216"/>			<!-- Chrome 101 -->
							<add Id="174"/>			<!-- PC -->
							<add Id="147"/>			<!-- Windows 10 -->
						</TestConfiguration>
						<ExecutionGroup>
							<add Id="317" SchemaName="assessment_release_2021_3_se_project"/>
						</ExecutionGroup>
					</TestRun_Chrome101_SIT_Win10>
					
				</TestSuite_ST_Functional_Authoring_Regression>	

				<TestSuite_SIT_Functional_Delivery_Regression>
					<add Id="423"/>
					<TestConfiguration>
						<add Id="198"/>			<!-- Replay -->
						<add Id="216"/>			<!-- Chrome 101 -->
						<add Id="174"/>			<!-- PC -->
						<add Id="205"/>			<!-- System Integration Testing -->
						<add Id="147"/>			<!-- Windows 10 -->
					</TestConfiguration>

					<TestRun_Chrome101_SIT_Win10>
						<TestCase>
							<add Id="92221"/>  
							<add Id="100743"/> 
							<add Id="100858"/>							
							<add Id="100964"/>
							<add Id="101463"/>
							
						</TestCase>
						<TestConfiguration>
							<add Id="198"/>			<!-- Replay -->
							<add Id="216"/>			<!-- Chrome 101 -->
							<add Id="174"/>			<!-- PC -->
							<add Id="205"/>			<!-- System Integration Testing -->
							<add Id="147"/>			<!-- Windows 10 -->
						</TestConfiguration>
						<ExecutionGroup>
							<add Id="353" SchemaName="assessment_release_2021_3_se_project"/>
							<add Id="361" SchemaName="assessment_release_2021_3_se_project"/>
							<add Id="365" SchemaName="assessment_release_2021_3_se_project"/>
							<add Id="364" SchemaName="assessment_release_2021_3_se_project"/>
							<add Id="367" SchemaName="assessment_release_2021_3_se_project"/>
							
						</ExecutionGroup>
					</TestRun_Chrome101_SIT_Win10>
					
				</TestSuite_SIT_Functional_Delivery_Regression>	
				
                <TestSuite_SIT_Functional_Marking_Regression>
					<add Id="424"/>
					<TestConfiguration>
						<add Id="198"/>			<!-- Replay -->
						<add Id="216"/>			<!-- Chrome 101 -->
						<add Id="174"/>			<!-- PC -->
						<add Id="205"/>			<!-- System Integration Testing -->
						<add Id="147"/>			<!-- Windows 10 -->
					</TestConfiguration>

					<TestRun_Chrome101_SIT_Win10>
						<TestCase>
							<add Id="92045"/>
							<add Id="92223"/>
							<add Id="93408"/>
						</TestCase>
						<TestConfiguration>
							<add Id="198"/>			<!-- Replay -->
							<add Id="216"/>			<!-- Chrome 101 -->
							<add Id="174"/>			<!-- PC -->
							<add Id="205"/>			<!-- System Integration Testing -->
							<add Id="147"/>			<!-- Windows 10 -->
						</TestConfiguration>
						<ExecutionGroup>
							<add Id="352" SchemaName="assessment_release_2021_3_se_project"/>
							<add Id="351" SchemaName="assessment_release_2021_3_se_project"/>
							<add Id="360" SchemaName="assessment_release_2021_3_se_project"/>
						</ExecutionGroup>
					</TestRun_Chrome101_SIT_Win10>
					
				</TestSuite_SIT_Functional_Marking_Regression>				

			</TestPlan_Regression_0.2022.08.4195>
			
		</TestProject_Janison_Assessment_Merged>

	</TestRuns>

</configuration>